.container{
    text-align: center;
    display: flex;
    padding: 10px;
    justify-content: center;
    
    flex-direction: column;
    background-image: url('../../assets/images/4.jpg');
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    color: white;
    >mat-card{
        background-color: transparent;
    }
    .commander{
        width: auto;
        margin: 20px;
        padding: 10px;
        height: auto;
        color: black;
        border-radius: 5px;
        background-color: rgb(211, 142, 51);
    }
    .commander:hover{
        box-shadow: rgba(255, 255, 255) 0px 14px 28px, rgba(255, 255, 255) 0px 10px 10px;
        background-color: rgb(255, 255, 255);
        a{color: black;}
    }
}

img{
    box-shadow: rgba(235, 235, 235, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
    width: 35vw;
}
a{
    color: white;
    text-decoration: none;
}

@media (max-width: 50em){
    img{
        box-shadow: rgba(235, 235, 235, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
        width: 70vw;
    }
    .container{
        height: 100vh;
    }
}