<ul class="menu">
    <li>
        
        <ul>
            <mat-icon *ngIf="menu==false" (click)="cliqueSurMenu()">menu</mat-icon>
            <mat-icon *ngIf="menu==true" (click)="cliqueSurMenu()">close</mat-icon>
            <li *ngIf="menu==true"><mat-icon>work</mat-icon>Projects</li>
            <li *ngIf="menu==true"><mat-icon> attach_money</mat-icon>Tarif</li>
            <li *ngIf="menu==true"><mat-icon> near_me</mat-icon>Processus</li>
            <li *ngIf="menu==true"><mat-icon>contact_support</mat-icon>Contact</li>
        </ul>

    </li>
</ul>

<div class="menu-full">
    <div class="items">
        <div class="item"><mat-icon>work</mat-icon>Projects</div>
        <div class="item"><mat-icon> attach_money</mat-icon>Tarif</div>
        <div class="item"><mat-icon> near_me</mat-icon>Processus</div>
    </div>
    <div><mat-icon>contact_support</mat-icon>Contact</div>
</div>