<div class="content">
    <div class="image">
        <img src="../../assets/images/logo.png" alt="image_presentation">
    </div>
    <div class="texte">
        Découvrez la magie de la personnalisation avec nos sneakers et accessoires uniques, conçus spécialement pour vous.
    </div>
    <div class="commander">
        <a href="https://linktr.ee/gabsabens">Clique ici pour commander</a>
    </div>
</div>
<div class="full"><img src="../../assets/images/Fkq1VuQXoAMHsHT.jpg" alt="image_presentation">
    <caption>
        Ma passion pour les sneakers a débuté il y a cinq ans, lorsque j'ai découvert la culture urbaine en République centrafricaine, tout en étant fasciné par les mangas japonais. Cette passion m'a guidé jusqu'à Dakar, au Sénégal, où j'ai trouvé un lieu vibrant pour explorer mon style unique. Chacune de mes paires de sneakers raconte une histoire et incarne une partie de ma personnalité. Elles sont bien plus que de simples chaussures, elles symbolisent mon parcours, mon identité et ma créativité. Mon voyage en tant que sneaker's customer est une aventure continue qui m'ancre dans mes racines centrafricaines tout en me connectant à une communauté mondiale de passionnés de sneakers. C'est une expression de ma détermination à rester fidèle à moi-même, peu importe où la vie me mène.
    </caption>
</div>