<div class="content">
    <div class="image">
        <img src="../../assets/images/logo.png" alt="image_presentation">
    </div>
    
    <div class="texte">
        Découvrez la magie de la personnalisation avec nos sneakers et accessoires uniques, conçus spécialement pour vous.
    </div>
    <div class="commander">
        <a href="https://linktr.ee/gabsabens">Clique ici pour commander</a>
    </div>
</div>
<div class="full"><img src="../../assets/images/Fkq1VuQXoAMHsHT.jpg" alt="image_presentation">

</div>